@media only screen and (max-width: 480px) {
  .divBurger {
    display: block;
  }

  .burgerLine1,
  .burgerLine3,
  .burgerLine2 {
    background-color: #27394e;
    height: 0.6rem;
    width: 6rem;
    margin: 1.2rem 0rem;
    transition: all 0.5s ease-in;
  }

  .heroContent {
    animation: none;
  }

  .divNav {
    background-color: rgb(234, 245, 255);
  }

  .logoDiv {
    height: 7rem;
    width: 14rem;

    img {
      width: 16rem;
    }
  }

  .navLinks {
    position: fixed;
    top: 9vh;
    right: 0px;
    min-height: 91vh;
    background-color: rgb(234, 245, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 22rem;
    place-content: center;
    width: 50%;
    transform: translateX(100%);
    transition: all 1s ease;
    z-index: 2;

    li {
      &::after {
        display: none;
      }
    }
  }

  .activeNavLinks {
    transform: translateX(-0%);
  }

  .header2 {
    box-shadow: 0rem 0.5rem 2rem 0.6rem rgba(0, 0, 0, 0.2);
  }

  .divNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0rem 3.5rem;
    min-height: 9vh;
  }

  .toogle .burgerLine1 {
    transform: rotate(45deg) translate(0.8rem, 0.6rem);
  }

  .toogle .burgerLine2 {
    opacity: 0;
  }

  .toogle .burgerLine3 {
    transform: rotate(-45deg) translate(0.8rem, -0.6rem);
  }
}
