@media only screen and (max-width: 480px) {
  .imgVectorDiv,
  .imgDevGuyDiv {
    display: none;
  }

  .hero {
    background-image: url("../../asset/img/backgr.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    padding-top: 0rem;
  }

  .textBox {
    width: 100%;
    h2 {
      text-align: justify;
      color: black;
      font-size: 3rem;
    }
  }

  .heroContent {
    width: 85%;
    margin: auto;
    text-align: center;
    padding: 3rem 0rem;
  }

  .divTextContent {
    width: 100%;
    border-radius: 2rem;
    padding: 6rem 2rem;
    height: auto;
    display: flex;
    gap: 12rem;
    text-align: center;
    animation: load3 1.5s ease;
    box-shadow: 0rem 2rem 2rem 0rem rgba(0, 0, 0, 0.1),
      0rem 3rem 4rem 0rem rgba(0, 0, 0, 0.1);

    .heroText {
      color: #27394e;
      text-align: justify;
      font-size: 5rem;
      font-weight: bolder;
      font-stretch: expanded;
      text-align: center;
    }
  }

  .divBtnHero {
    width: 100%;
    text-align: center;
    height: 20rem;
    height: auto;
  }

  .btnHero2 {
    border: none;
    border-radius: 1.5rem;
    height: 10rem;
    width: 100%;
    font-size: 2.7rem;
    letter-spacing: 0.5rem;
    font-weight: bolder;
    background: linear-gradient(to right, #000428, #004e92);
    color: white;
    animation: load4 1.5s ease-in;
  }
}
