@media screen and (max-width:744px) {
    html {
        font-size: 42%;
    }

    // NAV BAR
    .divBurger {
        display: block;
    }

    .burgerLine1,
    .burgerLine3,
    .burgerLine2 {
        background-color: rgb(163, 206, 255);
        height: 0.8rem;
        width: 7rem;
        margin: 1.2rem 0rem;
        transition: all 0.5s ease-in;
    }

    // . {}

    .divNav {
        background-color: #00B2FF;
    }

    .logoDiv {
        background-color: aqua;
        height: 7rem;
        width: 14rem;

        img {
            width: 17rem;
        }
    }

    .navLinks {
        position: fixed;
        top: 9vh;
        right: 0px;
        min-height: 91vh;
        background-color: antiquewhite;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 22rem;
        place-content: center;
        width: 50%;
        transform: translateX(100%);
        transition: all 1s ease;
        z-index: -4;
    }

    .activeNavLinks {
        transform: translateX(-0%);
    }

    .header2 {

        box-shadow: 0rem 0.5rem 2rem 0.6rem rgba(0, 0, 0, 0.2);
    }

    .divNav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0rem 3.5rem;
        min-height: 9vh;
    }

    .toogle .burgerLine1 {
        transform: rotate(45deg) translate(0.8rem, 0.6rem);
    }

    .toogle .burgerLine2 {
        opacity: 0;
    }

    .toogle .burgerLine3 {
        transform: rotate(-45deg) translate(0.8rem, -0.6rem);
    }

    // HERO SECTION
    .imgVectorDiv,
    .imgDevGuyDiv {
        display: none;
    }

    .heroContent {
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .divTextContent {
        background-color: #00B2FF;
        padding: 10rem 3rem;
        height: auto;
        display: flex;
        gap: 5rem;
        text-align: center;

        .heroText {
            color: white;
            font-size: 5.8rem;
        }

        h1 {
            color: white;
            font-size: 2.7rem;
            font-weight: 600;
        }
    }

    .divBtnHero {
        width: 100%;
        text-align: center;
        height: 20rem;
    }

    .btnHero2 {
        height: 8rem;
        width: 100%;

    }

    // SERVICIOS SECTION
    .diviPaginaWeb {
        display: flex;
        flex-direction: column;
        background-color: #00B2FF;
    }

    .serviciosContentContent {
        flex-wrap: wrap;
        gap: 5rem;
        width: 90%;
        margin: auto;
    }

    .serviciosContentItem {
        width: 55rem;
    }

    // PROYECTOS SECTION
    .proyectosContent {

        grid-template-columns: repeat(1, 1fr);
    }

    .divWaves {
        margin-top: 13rem;
    }

    // FOOTER SECTION
    .divFooterContent {
        gap: 15rem;
    }

    .divMapSite {
        display: none;
    }

}