@font-face {
  font-family: "menu-regular";
  src: url("../asset/fonts/Staatliches-Regular.ttf");
}

@font-face {
  font-family: "text-content";
  src: url("../asset/fonts/Overpass-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: "text-title";
  src: url("../asset/fonts/SignikaNegative-VariableFont_wght.ttf");
}

@font-face {
  font-family: "text-hero";
  src: url("../asset/fonts/Vidaloka-Regular.ttf");
}

@font-face {
  font-family: "text-hero2";
  src: url("../asset/fonts/PaytoneOne-Regular.ttf");
}
