// NAVBAR

.divNav {
    min-height: 15vh;
    width: 92%;
    // background: blue;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    margin: 0 0 0 auto;


}

.logoDiv {
    display: flex;
    justify-content: center;
    width: 15rem;

    img {
        width: 15rem;
    }
}

.navLinks {
    z-index: 999;

    width: 70%;
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;



    li {

        &::after {
            content: '';
            display: block;
            width: auto;
            background-color: white;
            height: 0.5rem;

            margin: 0px;
            padding: 0px;
            transition: all 0.3s ease;
        }

        &:hover::after {
            // height: 0.5rem;
            background-color: black;
        }


        a {
            font-family: "menu-regular";
            font-size: 3.5rem;
            font-weight: 50;
        }
    }

}


// HERO SECTION
.hero {
    min-height: 85vh;

}


.imgVectorDiv {

    img {
        height: 100%;
        position: absolute;
        top: 0px;
        right: 0px;
        object-fit: cover;
    }
}


.imgDevGuyDiv {
    width: 50rem;

    img {
        width: 50%;
        position: absolute;
        top: 25%;
        right: 0px;
    }
}


.heroContent {
    height: 85vh;
    width: 91.7%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    animation: load2 2s ease-in-out;

}

.divTextContent {

    // background-color: #F1727A;
    display: flex;
    flex-direction: column;
    // gap: 3rem;
    margin-top: 10rem;


}

.heroText {
    font-family: "text-hero";
    font-size: 6.7rem;
    letter-spacing: 0.5rem;
    // color: #00B2FF;
    // text-shadow: 3px 3px 4px black;
}

h1 {
    margin-top: 2rem;
    font-family: "text-content";
    font-weight: 500;
    font-size: 2.5rem;
}

.divBurger {
    display: none;
}

.divBtn {
    width: 100%;
    background-color: #4FE2F6;
}

.btnHero2 {
    // background: #F1727A;
    border: solid;
    // border-radius: 1rem;
    background-color: white;
    width: 30rem;
    height: 5.8rem;
    padding: 2rem 0rem;
    color: black;
    cursor: pointer;
    margin-top: 5rem;
    transition: all 0.3s ease-in, background-image 0.2s ease;
    font-size: 2.3rem;
    font-weight: 900;
    text-align: center;
    padding: 1.5rem 0rem;
    border-image-slice: 1;
    border-width: 0.5rem;
    border-image-source: linear-gradient(to left, #4FE2F6, #F05FF3);


    &:hover {
        background-image: linear-gradient(to left, #4FE2F6, #F05FF3);
        color: white;
    }
}