// HERO SECTION
.hero {
  min-height: 85vh;
  // display: none;
}

.imgVectorDiv {
  img {
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    object-fit: cover;
    z-index: -1;
  }
}

.imgDevGuyDiv {
  img {
    width: 50%;
    position: absolute;
    top: 25%;
    right: 0px;
  }
}

.heroContent {
  height: 85vh;
  width: 91.7%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  animation: load2 2s ease-in-out;
}

.divTextContent {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
}

.heroText {
  font-family: "text-hero";
  font-size: 6.7rem;
  letter-spacing: 0.5rem;
}

h1 {
  margin-top: 2rem;
  font-family: "text-content";
  font-weight: 500;
  font-size: 2.5rem;
}

.divBurger {
  display: none;
}

.divBtn {
  width: 100%;
  background-color: #4fe2f6;
}

.btnHero2 {
  border: solid;
  background-color: white;
  width: 30rem;
  height: auto;
  padding: 2rem 0rem;
  color: black;
  cursor: pointer;
  // margin-top: 0rem;
  transition: color 0.3s ease-in, background-image 0.2s ease;
  font-size: 2.3rem;
  font-weight: 900;
  letter-spacing: 0.2rem;
  text-align: center;
  padding: 1.5rem 0rem;
  border-image-slice: 1;
  border-width: 0.5rem;
  border-image-source: linear-gradient(to left, #4fe2f6, #f05ff3);

  &:hover {
    background-image: linear-gradient(to left, #4fe2f6, #f05ff3);
    color: white;
  }
}

.textBox {
  // background-color: black;
  h2 {
    margin: 2rem 0rem;
    color: black;
    font-size: 2.7rem;
  }
}

// *************************************************************************************//
// MEDIA QUERY
@media screen and (max-width: 744px) {
  .imgVectorDiv,
  .imgDevGuyDiv {
    display: none;
  }

  .hero {
    background-image: linear-gradient(to left, #4fe2f6, #f05ff3);
  }

  .heroContent {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .divTextContent {
    background-color: white;
    width: 100%;
    border-radius: 2rem;
    padding: 8rem 3rem;
    height: auto;
    display: flex;
    gap: 7rem;
    text-align: center;
    animation: load3 1.5s ease;
    box-shadow: 0rem 2rem 2rem 0rem rgba(0, 0, 0, 0.1),
      0rem 3rem 4rem 0rem rgba(0, 0, 0, 0.1);

    .heroText {
      color: #27394e;
      font-size: 5.5rem;
      letter-spacing: 0.5rem;
      font-weight: bolder;
      font-stretch: expanded;
      text-align: center;
    }

    h1 {
      color: #27394e;
      font-size: 3rem;
      font-weight: 600;
    }
  }

  .divBtnHero {
    width: 100%;
    text-align: center;
    height: 20rem;
  }

  .btnHero2 {
    height: 10rem;
    width: 100%;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    font-weight: bolder;
    background-image: linear-gradient(to left, #4fe2f6, #f05ff3);
    border: 1rem solid white;
    color: white;
    animation: load4 1.5s ease-in;
  }
}
