.servicios {
  position: relative;
  height: max-content;
  padding: 5rem 0rem;
  overflow: hidden;
}

.serviciosTitulo {
  width: 100%;
  min-height: 8vh;
  display: flex;
  place-content: center;
  padding: 3rem;
  background: linear-gradient(80deg, #08b7fe, #4fe2f6);

  h2 {
    color: white;
    font-family: "text-title";
    font-size: 4.5rem;
  }
}

.serviciosContent {
  width: 90%;
  margin: auto;
}

.serviciosContentContent {
  display: flex;
  gap: 0rem;
  width: 100%;
  justify-content: space-evenly;
}

.serviciosContentImage,
.serviciosContentImageAW {
  width: 60rem;
  display: flex;

  img {
    width: 50rem;
    object-fit: cover;
  }
}

.contentOtros {
  display: flex;
  height: auto;
  display: flex;
  flex-direction: column;
}

.serviciosContentItem {
  display: flex;

  img {
    width: 3.5rem;
  }

  h3 {
    font-size: 2.9rem;
    font-family: "text-content";
    font-weight: 500;
  }
}

.serviciosContentTitulo {
  width: 100%;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 8rem;

  h3 {
    font-family: "text-title";
  }
}

.divWaves {
  margin-top: 30rem;
}

.wave1 {
  position: absolute;
  bottom: -1rem;
  z-index: 1000;

  img {
    width: 100%;
  }
}

.wave2 {
  position: absolute;
  bottom: -0.5rem;
  z-index: 999;
  width: 100%;

  img {
    width: 100%;
  }
}

.wave3 {
  position: absolute;
  bottom: -2.5rem;
  z-index: 998;
  width: 100%;

  img {
    width: 100%;
  }
}

.serviciosContentImage,
.contentAppWeb {
  transform: translateX(-60%);
  opacity: 0;
  transition: all 0.6s ease-in-out 0.0001s;
}

.contentPaginaWeb,
.contentOtros,
.serviciosContentImageAW {
  transform: translateX(60%);
  opacity: 0;
  transition: all 1s ease-in-out;
}

.fadeRtoL {
  transform: translateX(0%);
  opacity: 1;
}

.fadeltoR {
  transform: translateX(0%);
  opacity: 1;
}

//*******************************************************************//
// MEDIA QUERY
@media screen and (max-width: 744px) {
  .diviPaginaWeb {
    display: flex;
    flex-direction: column;
  }

  .serviciosContent {
    width: 90%;
    margin: auto;
  }

  .serviciosContentContent {
    flex-wrap: wrap;
    gap: 5rem;
    width: 90%;
    margin: auto;
  }

  .serviciosContentItem {
    width: 100%;
  }
}
