$header1: 2.5rem;
$header2: 4rem;
$heade3: 3.3rem;
$header4: 2rem;
$text: 2.5rem;
$gradient: linear-gradient(left, #38d39f, #38a4d3);
$backgroundHero: linear-gradient(to right, #9cecfb, #65c7f7, #0052d4);
